body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-repeat: no-repeat;
    cursor: url('../resources/Arrow.cur'), auto;
    background-size:100px 100px;
    user-select: none;
}
.nyarukodiv img {
    width: 100%;
    height: 100%;
}
.nyarukodiv {
    position: fixed;
}
#nyarukoplayer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: gray;
}