body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-repeat: no-repeat;
    cursor: url('../resources/Arrow.cur'), auto;
    background-size:100px 100px;
    user-select: none;
}
.nyarukodiv img {
    width: 100%;
    height: 100%;
}
.nyarukodiv {
    position: fixed;
    overflow: hidden;
}
#nyarukoplayer {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: gray;
}
#audiodiv {
    position: fixed;
    background-size: cover;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    animation: change 2s linear infinite;
    cursor: url('../resources/hand.cur'), auto;
}
@keyframes change {
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg);
    }
    100%{
        transform:rotate(360deg);
    }
}