body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-repeat: no-repeat;
    cursor: url('../resources/Arrow.cur'), auto;
    background-size:100px 100px;
    user-select: none;
}
