body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-repeat: no-repeat;
    cursor: url('../resources/Arrow.cur'), auto;
    background-size:100px 100px;
    color: #FFF;
    font-family: "Source Han Sans","思源黑体","微软雅黑","Microsoft YaHei","Hiragino Sans GB","STHeiti Light","SimHei";
	font-style: "ExtraLight";
}
a:link {
	color: #FE99CC;
	text-decoration: none;
    cursor: url('../resources/hand.cur'), auto;
}
a:visited {
	text-decoration: none;
	color: #FE99CC;
}
a:hover {
	text-decoration: none;
	color: #FE99CC;
}
a:active {
	text-decoration: none;
	color: #FE99CC;
}
.linkbtn {
    color: #FE99CC;
	text-decoration: none;
    cursor: url('../resources/hand.cur'), auto;
}
.section h1 {
	font-size: 18pt;
	display: none;
}
.section h2 {
	font-size: 15pt;
	display: none;
	writing-mode:lr-tb;
}